---
- name: Install required packages
  loop: "{{ smtp_packages }}"
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - smtp

- name: Write aliases config
  notify:
    - Update aliases
  ansible.builtin.template:
    src: aliases.j2
    dest: /etc/aliases
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - smtp

- name: Write destinations config
  when:
    - smtp_match_destinations | default(false)
  notify:
    - Restart postfix
  ansible.builtin.template:
    src: destinations.j2
    dest: /etc/postfix/destinations.cf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - smtp

- name: Write dynamicmap config
  when:
    - smtp_dynamic_maps | default(false)
  notify:
    - Restart postfix
  ansible.builtin.template:
    src: dynamicmaps.j2
    dest: /etc/postfix/dynamicmaps.cf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - smtp

- name: Write main config
  notify:
    - Restart postfix
  ansible.builtin.template:
    src: main.j2
    dest: /etc/postfix/main.cf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - smtp

- name: Write master config
  notify:
    - Restart postfix
  ansible.builtin.template:
    src: master.j2
    dest: /etc/postfix/master.cf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - smtp

- name: Start postfix service
  ansible.builtin.systemd:
    name: postfix
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - smtp

...
