---
- name: Reload postfix
  ansible.builtin.systemd:
    name: postfix
    state: reloaded
    daemon_reload: true

- name: Restart postfix
  ansible.builtin.systemd:
    name: postfix
    state: restarted
    daemon_reload: true

- name: Update aliases
  ansible.builtin.command: newaliases

...
