{% for item in smtp_default_aliases + smtp_extra_aliases %}
{{ item.alias }}: {% if item.recipients | default(False) %}{{ item.recipients | join(', ') }}
{% else %}{{ item.recipient }}
{% endif %}
{% endfor %}
